.vote-wrapper {
  width: 100%;
  height: 100%;
  color: white;
  background-color: #1e2c1d;
  box-sizing: border-box;

  .header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .vote-switcher {
      display: flex;
      gap: 20px;
    }
  }

  button.mat-raised-button {
    background-color: #8bc34a;
    color: #ffffff;
  }

  p {
    font-size: 24px;
    margin: 0;
    padding: 10px;
  }

  hr {
    border: 1px solid black;
    opacity: 0.3;
  }
}