<div class="container three-column-layout">
  <div *ngIf="showPreview" class="candidates-list">
    <div class="search-container">
      <input type="text" [(ngModel)]="candidateSearchText" placeholder="Cauta candidati..." />
    </div>
    <div class="candidate-card" *ngFor="let candidate of getFilteredCandidates()">
      <img [src]="candidate.photo" alt="{{candidate.name}}" />
      <span>{{ candidate.name }}</span>
    </div>
  </div>

  <div class="main-content">
    <div class="form-container">
      <div class="ballot-table-container">
        <table class="ballot-table">
          <thead>
            <tr>
              <th style="width: 100px">Poziție</th>
              <th>Candidat</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of tableData; trackBy: trackByIndex">
              <td>{{ maxRows - row.value }}</td>
              <td>
                <mat-select
                [ngModel]="selectedNames[row.index]"
                (ngModelChange)="onNameSelect(row.index, $event)"
                placeholder="→ Alege candidat ←"
                disableOptionCentering
                panelClass="custom-select-panel"
              >
                <mat-optgroup label="">
                  <div class="candidate-search-container">
                    <input
                      type="text"
                      [(ngModel)]="filterTexts[row.index]"
                      (click)="$event.stopPropagation()"
                      (keydown)="$event.stopPropagation()"
                      placeholder="Search..."
                    />
                  </div>
                </mat-optgroup>

                <mat-option
                  *ngFor="let name of getFilteredNames(row.index); trackBy: trackByIndex"
                  [value]="name"
                >
                  {{ name }}
                </mat-option>
                <mat-option>✖ Resetează opțiunea ✖</mat-option>
              </mat-select>
              </td>
            </tr>
          </tbody>
        </table>
      </div>


      <div class="buttons-container">
        <button class="ResetButton" (click)="resetTable()">Resetează</button>
        <button class="AnulatButton" mat-raised-button (click)="voteNullForAll()">Anulat</button>
        <button *ngIf="showRandomize" mat-raised-button color="primary" (click)="randomizeBallot()">Random</button>
        <button *ngIf="showRandomFill" mat-raised-button color="accent" (click)="fillTheRest()">Random fill rest</button>
      </div>
    </div>
  </div>

  <div *ngIf="showPreview" class="preview-container ballot-preview">
    <h3>Previzualizare buletin de vot</h3>
    <div class="preview-print">
      <div class="paper-sheet">
        <table class="preview-table">
          <tr>
            <th style="width: 20px">Poziție</th>
            <th>Candidat</th>
          </tr>
          <tr *ngFor="let row of getBallotPreview()">
            <td>{{ maxRows - row.number + 1 }}</td>
            <td>{{ row.name }}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="qr-placeholder">
      <qrcode [qrdata]="qrcode" [width]="400" [errorCorrectionLevel]="'M'"></qrcode>
    </div>
    <div class="print-button">
      <button mat-raised-button color="primary"
      [disabled]="!isBallotComplete()"  (click)="print()">Printează</button>
    </div>
  </div>
</div>
