@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$violet-palette,
      tertiary: mat.$orange-palette,
      theme-type: dark,
    ),
    typography: Open Sans,
    density: 0
  ));
}